<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.firefingers21.miniweather</string>
	<key>category</key>
	<string>Shared</string>
	<key>connections</key>
	<dict>
		<key>0265033C-7B70-48D4-91E8-40EFC0C12657</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1494843D-B3D6-4F58-AF34-48719181CB76</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>40FEC60B-F0D5-4384-869F-47ED0FF520C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F4BE449C-A219-4DC9-AF34-B9BA86136BB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>1494843D-B3D6-4F58-AF34-48719181CB76</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2363A5B3-8588-4FDE-96AE-240D45AA0292</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1A2973FD-9C2F-486E-86B2-F7887875E1D2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>20EEE453-CD03-4D2F-B137-04CC9DA149E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21441F66-5643-47B5-8C70-2FDED312940D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>21441F66-5643-47B5-8C70-2FDED312940D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87F2EB5E-C63D-49E1-A819-BED791065ECA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8A6B3C4C-A9DC-4B71-94C4-0C4F20C88DB6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>21D12905-77E9-4B8A-894B-96BACE663606</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>60F065E1-73BA-4D92-BD9F-CD3FE7D28666</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>21D12905-77E9-4B8A-894B-96BACE663606</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4AD0F73-A13A-4AE0-A6B9-B010916870AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>40FEC60B-F0D5-4384-869F-47ED0FF520C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5EBCAB74-D3DF-49DE-B272-F1F38D359926</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1A2973FD-9C2F-486E-86B2-F7887875E1D2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6D6A0117-60EA-4648-8928-8277DC0E0B0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A18F5E39-CDFB-40F3-B3DF-1BB0897BCB39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>87F2EB5E-C63D-49E1-A819-BED791065ECA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA941465-66C3-4581-A085-8A16BF9A3F5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A18F5E39-CDFB-40F3-B3DF-1BB0897BCB39</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21441F66-5643-47B5-8C70-2FDED312940D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4AD0F73-A13A-4AE0-A6B9-B010916870AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0265033C-7B70-48D4-91E8-40EFC0C12657</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D5D5A98D-2C2A-4D4C-BE85-E7263261EA09</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD3E4444-9756-44CF-9307-1058E50B2C8F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EDD031A8-2BBF-4315-A071-F01AAD200E18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20EEE453-CD03-4D2F-B137-04CC9DA149E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4BE449C-A219-4DC9-AF34-B9BA86136BB0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3991FA9F-A453-4D4F-BF26-12871B883B34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1A2973FD-9C2F-486E-86B2-F7887875E1D2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD3E4444-9756-44CF-9307-1058E50B2C8F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21441F66-5643-47B5-8C70-2FDED312940D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>FireFingers21</string>
	<key>description</key>
	<string>Glance Weather &amp; Forecast Data</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Mini Weather</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>4</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>H</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6D6A0117-60EA-4648-8928-8277DC0E0B0F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>forecast</key>
					<string>Hourly</string>
					<key>hotkey</key>
					<string>1</string>
					<key>loading</key>
					<string>0</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A18F5E39-CDFB-40F3-B3DF-1BB0897BCB39</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>Mini Weather.shortcut</string>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>installShortcut</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>87F2EB5E-C63D-49E1-A819-BED791065ECA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>unstackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>BA941465-66C3-4581-A085-8A16BF9A3F5C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>listForecasts</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>2363A5B3-8588-4FDE-96AE-240D45AA0292</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:forecast}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>install</string>
						<key>outputlabel</key>
						<string>install</string>
						<key>uid</key>
						<string>1A2973FD-9C2F-486E-86B2-F7887875E1D2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>1494843D-B3D6-4F58-AF34-48719181CB76</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:weather_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>keyword.sh</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>listForecasts</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>20EEE453-CD03-4D2F-B137-04CC9DA149E2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EDD031A8-2BBF-4315-A071-F01AAD200E18</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>runShortcut.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>runShortcut</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>21D12905-77E9-4B8A-894B-96BACE663606</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>installShortcut</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>5EBCAB74-D3DF-49DE-B272-F1F38D359926</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>{var:forecast}.sh</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0265033C-7B70-48D4-91E8-40EFC0C12657</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:forecast}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>install</string>
						<key>outputlabel</key>
						<string>install</string>
						<key>uid</key>
						<string>8A6B3C4C-A9DC-4B71-94C4-0C4F20C88DB6</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>run</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>21441F66-5643-47B5-8C70-2FDED312940D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>weather</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B4AD0F73-A13A-4AE0-A6B9-B010916870AE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:forecast}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>install</string>
						<key>outputlabel</key>
						<string>install</string>
						<key>uid</key>
						<string>1A2973FD-9C2F-486E-86B2-F7887875E1D2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>40FEC60B-F0D5-4384-869F-47ED0FF520C5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>runShortcut</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>3991FA9F-A453-4D4F-BF26-12871B883B34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:forecast}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>install</string>
						<key>outputlabel</key>
						<string>install</string>
						<key>uid</key>
						<string>1A2973FD-9C2F-486E-86B2-F7887875E1D2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F4BE449C-A219-4DC9-AF34-B9BA86136BB0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>38</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>J</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D5D5A98D-2C2A-4D4C-BE85-E7263261EA09</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>listForecasts</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>60F065E1-73BA-4D92-BD9F-CD3FE7D28666</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>forecast</key>
					<string>Daily</string>
					<key>hotkey</key>
					<string>1</string>
					<key>loading</key>
					<string>0</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FD3E4444-9756-44CF-9307-1058E50B2C8F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Setup

**Note**: This workflow requires [jq](https://jqlang.github.io/jq/) to function, which now comes preinstalled on macOS Sequoia 15 and later.

## Usage

View local weather information with the `wt` keyword. Select between hourly or daily forecasts.

![Using the Mini Weather keyword](images/about/keyword.png)

![Viewing Hourly Forecast](images/about/hourly.png)

![Viewing Daily Forecast](images/about/daily.png)

Configure the [Hotkeys](https://www.alfredapp.com/help/workflows/triggers/hotkey/) as shortcuts for viewing each forecast type.</string>
	<key>uidata</key>
	<dict>
		<key>0265033C-7B70-48D4-91E8-40EFC0C12657</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Show Forecast</string>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>1494843D-B3D6-4F58-AF34-48719181CB76</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>780</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>20EEE453-CD03-4D2F-B137-04CC9DA149E2</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Main Action &amp; Keyword</string>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>21441F66-5643-47B5-8C70-2FDED312940D</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>21D12905-77E9-4B8A-894B-96BACE663606</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Run Shortcut</string>
			<key>xpos</key>
			<real>425</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>2363A5B3-8588-4FDE-96AE-240D45AA0292</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Loading Screen</string>
			<key>xpos</key>
			<real>835</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>3991FA9F-A453-4D4F-BF26-12871B883B34</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Reload on Error</string>
			<key>xpos</key>
			<real>835</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>40FEC60B-F0D5-4384-869F-47ED0FF520C5</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>970</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>5EBCAB74-D3DF-49DE-B272-F1F38D359926</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Install Shortcut</string>
			<key>xpos</key>
			<real>1025</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>60F065E1-73BA-4D92-BD9F-CD3FE7D28666</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Loading Screen</string>
			<key>xpos</key>
			<real>425</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>6D6A0117-60EA-4648-8928-8277DC0E0B0F</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Hourly Forecast</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>87F2EB5E-C63D-49E1-A819-BED791065ECA</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Install Shortcut</string>
			<key>xpos</key>
			<real>425</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>A18F5E39-CDFB-40F3-B3DF-1BB0897BCB39</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>B4AD0F73-A13A-4AE0-A6B9-B010916870AE</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>BA941465-66C3-4581-A085-8A16BF9A3F5C</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>D5D5A98D-2C2A-4D4C-BE85-E7263261EA09</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Daily Forecast</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>EDD031A8-2BBF-4315-A071-F01AAD200E18</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>F4BE449C-A219-4DC9-AF34-B9BA86136BB0</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>780</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>FD3E4444-9756-44CF-9307-1058E50B2C8F</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>wt</string>
				<key>placeholder</key>
				<string>wt</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Mini Weather Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>weather_keyword</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2025.8</string>
	<key>webaddress</key>
	<string>https://github.com/FireFingers21/alfred-mini-weather</string>
</dict>
</plist>
